*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

div {
  &.order-button {
    & > button {
      border-color: var(--black);
      cursor: pointer;
      padding: 15px;
      transition: all .2s ease-in-out;
      &:focus {
        outline: none;
      }
      &:disabled {
        border-color: lightgray;
      }
    }
  }
}



.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  img {
    margin-right: auto;
    margin-left: 10px;   
  }
}

.favorite {
  color: var(--red);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  &:visited { color: var(--light-blue); }
  &:hover { color: var(--light-blue); }
  &:active { color: var(--light-blue); }
}

