.cart-page {
  & > h1 {
    text-align: center;
  }
  & .total-cost {
    text-align: right;
    font-size: 1.3em;
  }
  & div.order-button {
    display: flex;
    justify-content: center;
  }
}

main.cart-page {
  padding: 10px;
}
